---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h3>{frontmatter.date}</h3>
  <ol>
    <li>{frontmatter.linkOneText}</li>
    <li>{frontmatter.linkTwoText}</li>
    <li>{frontmatter.linkThreeText}</li>
    {
      frontmatter.linkFourText !== undefined ? (
        <li>{frontmatter.linkFourText}</li>
      ) : null
    }
    {
      frontmatter.linkFiveText !== undefined ? (
        <li>{frontmatter.linkFiveText}</li>
      ) : null
    }
  </ol>
  {
    frontmatter.weekContent !== undefined ? (
      <p>{frontmatter.weekContent}</p>
    ) : null
  }
  {frontmatter.bonus !== undefined ? <p>Bonus: {frontmatter.bonus}</p> : null}
  <slot />
</BaseLayout>
